<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-lg-8 offset-md-1 offset-lg-2'>
      <div class='card mt-5 border-white'>
        <div class="card mt-4 border-white align-items-center">
          <br>
          <%= search_form_for @quser, url: admin_backoffice_users_path, html: {class: "form-inline my-2 my-lg-0"} do |f| %>
          <%= f.search_field :email_cont, class:"form-control mr-sm-2", placeholder:"Search"%>
          <%= f.submit class:"btn btn-outline-info my-2 my-sm-0" %>
        <% end  %>
      </div>
      <div class='card mt-5 border-white'>
        <% @users.each do |user| %>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to user.email, admin_backoffice_user_path(user), class:"text-info h3" %>
              <small class="text-muted"><%= user.comments.count if user.comments%>
                comments</small>
              <% if user.is_admin? %>
                <small class="text-muted">
                  <%= user.posts.count if user.posts%>
                  posts
                </small>
                <span class="badge badge-info badge-pill">ADMINISTRATOR
                </span>
              <% else %>
                <span class="badge badge-secondary badge-pill">REGULAR USER
                </span>
              <% end %>
            </li>
          </ul>
        <%end%>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="card mt-5 border-white align-items-center">
  <%= paginate @users %>
  <br>
  <%= link_to "BACK", admin_backoffice_index_path, class: "btn btn-outline-secondary" %>
</div>
</div>
