<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-lg-8 offset-md-1 offset-lg-2 border border-white'>
      <div class='card mt-5 border border-white  shadow-sm p-3 mb-5 bg-white rounded'>
        <div class="card border border-white">
          <div class="card-header border border-white bg-white">
            <h3 class="text-info text-center"><%= @user.email %>
              <% if @user.is_admin? %>
                <small class="badge badge-info badge-pill">Administrator
                </small>
              <% else %>
                <span class="badge badge-secondary badge-pill">Regular User
                </span>
              <% end %>
            </h3>
            <hr>
          </div>
          <div class="card-body">
            <p class="h4 text-center">User created
              <%= time_ago_in_words(@user.created_at) %></p>
            <p class="card-text text-muted text-center">
              <%= @user.comments.count if @user.comments%>
              comments
              <%= @user.posts.count if @user.posts%>
              posts
            </p>
            <%= link_to 'EDIT', edit_admin_backoffice_user_path(@user), class:'btn btn-info btn-block'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card border-white align-items-center">
  <br>
  <%= link_to "BACK", admin_backoffice_index_path, class: "btn btn-outline-secondary" %>
</div>
