<br>
<div class='container'>
  <h1 class="text-info text-center">ALL MY POSTS</h1>
  <div class='card mt-5 border border-white align-items-center'>
    <img src="https://www.flaticon.com/svg/static/icons/svg/763/763736.svg" alt="Cat idea" width="150" height="150">
    <br>
  </div>
  <% @posts.each do |post| %>
    <div class="card text-center border border-white shadow p-3 mb-5 bg-white rounded">
      <div class="card-header border border-white bg-white">
        <h2>
          <%= link_to post.title, post_path(post), class:"text-info" %></h2>
        <hr>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= truncate(post.content, length: 300) %>
        </p>
        <%= link_to "Edit", edit_admin_backoffice_post_path(post), class: "btn btn-sm btn-outline-success" %>
        <%= link_to "Delete", admin_backoffice_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-sm btn-outline-danger" %>
      </div>
      <div class="card-footer bg-white text-muted">
        <small>Created by:
          <%= post.user.email if post.user %>,
          <%= time_ago_in_words(post.created_at) %>
          ago, last updated:
          <%= time_ago_in_words(post.updated_at) %>
          ago</small>
      </div>
    </div>
    <br>
  <% end %>
  <div class="card mt-5 border-white align-items-center">
    <%= paginate @posts %>
    <br>
  </div>
  <div>
    <%= link_to "BACK", admin_backoffice_index_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
  <br>
</div>
