<div class='container'>
  <% @posts.each do |post| %>
    <div class="card text-center">
      <div class="card-header">
      <h2 class="text-info">  <%= link_to post.title, post_path(post) %></h2>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= truncate(post.content, length: 300) %>
        </p>
        <%= link_to "Edit", edit_admin_backoffice_post_path(post), class: "btn btn-sm btn-success" %>
        <%= link_to "Delete", admin_backoffice_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-sm btn-danger" %>
      </div>
      <div class="card-footer text-muted">
        <small>Created by:
          <%= post.user.email if post.user %>,
          <%= time_ago_in_words(post.created_at) %>
          ago, last updated:
          <%= time_ago_in_words(post.updated_at) %>
          ago</small>
      </div>
    </div>
    <br>
  <% end %>
  <div class="card mt-5 border-white align-items-center">
  <%= paginate @posts %>
  <br>
  </div>
  <div>
    <%= link_to "BACK", admin_backoffice_index_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>
