
<br>
<div class="jumbotron-fluid bg-white">
  <h2 class="display-4 text-uppercase text-center text-info font-weight-bold"><%= @post.title %></h2>
   <hr class="my-9">
  <p class="lead text-justify text-muted"><%= @post.content %></p>
  <hr class="my-6">
  <small>
  Created by: <%= @post.user.email if @post.user%>,
              <%= time_ago_in_words(@post.created_at) %> ago,
              last updated: <%= time_ago_in_words(@post.updated_at) %> ago</small>
  <p class="lead">
  </small>
  </div class="card-body">
<%= link_to "BACK", admin_backoffice_index_path, class: "btn btn-sma btn-outline-info" %>
</div>
</div>

