<br>
<div class="container">
  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
      <div id="login-box" class="col-md-12">
        <h3 class="text-center text-info">
          Forgot your password?</h3>
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class:"text-info" %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
            <br>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class:"btn btn-info btn-block" %>
          </div>
          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
