<div class='container'>
  <%= form_for(@comment, :html => {class: 'form-horizontal'}) do |f| %>
  <%= f.label "Comment", class: "text-info text-uppercase" %>
  <%= f.hidden_field :post_id %>
  <%= f.text_field :content, class: "form-control z-depth-1", placeholder: "Write something here...", autofocus: true %>
  <%= f.submit class: 'btn btn-outline-info btn-block text-uppercase' %>
  <% end %>
</div>
