<div class='container'>
  <% @comments.each do |comment| %>
    <div class="card w-100">
      <div class="card-body bg-light">
        <h5 class="card-title text-info"><%= comment.user.email %>
          commented</h5>
        <h6><%= simple_format(comment.content) %></h6>
        <p class="card-text text-muted"><%= time_ago_in_words(comment.created_at) %></p>
        <% if user_signed_in? && (current_user.is_admin? || current_user == comment.user)%>
          <%= link_to "DELETE", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="card mt-5 border-white align-items-center">
  <%= paginate @comments %>
  <br>
</div>
