<% post.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="post-title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="post-body">
          <%= truncate(post.description, length: 100) %>
          <div class="post-meta-details">
            <small>Created by: <%= post.user.email if post.user %>,
              <%= time_ago_in_words(post.created_at) %> ago,
              last updated: <%= time_ago_in_words(post.updated_at) %> ago
              <!--<% if user_signed_in? %> -->
  <!--<%= link_to "Comment", edit_post_path(@post), class: "btn btn-xs btn-primary" %>-->
           </div>
         <% end %>
        </small>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>